.root {
  position: absolute;
  display: flex;
  padding: 10px;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 60px 5px 5px 5px;
  gap: 2px;
  font-size: 12px;
  text-align: center;
}

.match .inner .image, .match .inner .anonymous {
  border: 3px solid rgb(248, 222, 100);
  box-shadow: 0px 0px 50px rgba(255, 242, 0, 1);
}

.name {
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  margin: 0px;
}

.from {
  color: #666;
  margin: 0px;
}

.date {
  color: #888;
  margin: 0px;
}

.age {
  color: #333;
  margin-left: 2px;
}

.male .image {
  border: 3px solid rgb(226, 249, 255, 1);
}

.female .image {
  border: 3px solid rgb(249, 219, 235, 1);
}

.isRoot .inner .image {
  border-color: rgba(0, 0, 255, .9);
  box-shadow: 0px 0px 5px rgba(0, 0, 255, .9);
}

.birthday .inner .image {
  border: 3px solid rgb(248, 222, 100);
  box-shadow: 0px 0px 5px rgba(255, 242, 0, 1);
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% { box-shadow: 0px 0px 5px rgb(255, 200, 30); }
  50% { box-shadow: 0px 0px 50px rgb(255, 251, 171); }
  100% { box-shadow: 0px 0px 5px rgb(255, 200, 30); }
}

.anonymous {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ddd;
  padding: 10px;
  background: #fff;
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #ddd;
  overflow: hidden;
}

.inner:hover {
  cursor: pointer;
}

.inner:hover .image {
  border: 3px solid #888;
}

